@using Pokemon.Dashboard.Services
@using Pokemon.Dashboard.Model
@inject PokemonService pokemonService

<MudTextField @bind-Value="_searchTerm"
              Placeholder="Pokémon search..."
              Variant="Variant.Outlined"
              Style="margin-top:10px"
              Class="mb-5" />

<MudGrid container GutterSize="0">
    @if (FilteredPokemon.Any())
    {
        @foreach (var pokemon in FilteredPokemon)
        {
            <MudItem xs="12" sm="5" md="2">
                <PokemonCard PokemonName="@pokemon.name" />
            </MudItem>
        }
    }
    else
    {
        <p>No Pokemon found</p>
    }
    </MudGrid>

    @code {
    private List<Pokemon> _pokemonList = new(); /* Save the Pokemon in a List from the Service */
    private string _searchTerm = string.Empty; /*Save the Searchterm in a string */

    private IEnumerable<Pokemon> FilteredPokemon =>
        string.IsNullOrWhiteSpace(_searchTerm) /* Filter the Pokemon by the Searchterm */
            ? _pokemonList
            : _pokemonList.Where(p => p.name != null && p.name.StartsWith(_searchTerm, StringComparison.OrdinalIgnoreCase));
 
   /* Loading a list with Pokemon and filter it on the searchterm and give the Component Back */
    protected override async Task OnInitializedAsync()
    {
        var pokemonList = await pokemonService.GetPokemonListAsync();
        if (pokemonList?.results != null)
        {
            _pokemonList = pokemonList.results
                .Select(p => new Pokemon { name = p.name })
                .ToList();
        }
    }
}
