@using Pokemon.Dashboard.Services
@inject PokemonService pokemonService

@code {
    private List<string?> _pokemonNames = new();

    protected override async Task OnInitializedAsync()
    {
        var pokemonList = await pokemonService.GetPokemonListAsync();
        if (pokemonList?.results != null)
        {
            _pokemonNames = pokemonList.results.Select(p => p.name).ToList();
        }
    }
}
<MudGrid container GutterSize="0">
    @if (_pokemonNames.Count > 0)
    {
        @foreach (var name in _pokemonNames)
        {
            <MudItem xs="12" sm="3" md="2" Class="no-padding">
                <PokemonCard PokemonName="@name" />
            </MudItem>
        }
    }
    else
    {
        <p>Pokémon werden geladen...</p>
    }
</MudGrid>

<style>
    .no-padding {
        padding: 0;
    }
</style>